.DdayTable{
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
}

.MonthYear{
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.TableHeader{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
}

.TableInner{
    display: flex;
    flex-direction: row;
}
