.DdayTable{
    display: flex;
    flex-direction: column;
}

.MonthYear{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.Table{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.TableHeader{
    align-self: stretch;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    flex-grow: 1;
}

.TableInner{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
}

