.Header{
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    background-color: #FFF;
    height: 4.375rem;
    align-items: center;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: space-between;
    padding-left: 2rem;
}

.Title{
    display: flex;
    align-content: stretch;
}

.Search{
    display: flex;
    position: relative;
    padding: 0rem 1rem;
    width: 18rem;

}
