.Header{
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    align-items: center;
    background-color: #FFF;
    height: 4.375rem;
    justify-content: space-between;
    margin: 0.2rem;
}

.Title{
    padding: 0rem 1rem;
    display: flex;
}

.Search{
    position: relative;
    display: flex;
    padding: 0rem 1rem;

}
