.Header{
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    background-color: #FFF;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    flex-shrink: 0;
}

.Title{
    display: flex;
}

.Search{
    display: flex;
    position: relative;
    padding: 0rem 1rem;
    width: 18rem;

}
