.Progress{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.MonthTitle{
    display: flex;
    padding: 1rem;
}

.ProgressInner{
    display: flex;
    padding: 1rem;
    align-items: center;
    background: var(--yoda-admin-template-blacks-b-0, #FFF);
    flex-shrink: 0;
}

.ProgressUnder{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    color: #000;
    text-align: center;
}
