.UserInfo{
    display: flex;
    flex-direction: column;

}

.NavBotPic{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    flex-shrink: 1;
    /* background-image: url('/public/asset/img/NavBotPic.svg');
    background-size: cover;
    background-position: center; */
}

.NavFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    flex-shrink: 0;
}

.NavFooterInner{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
    border-top: 0.125rem solid #DFE6E9;
    
}

.AvaName{
    padding: 0 2rem 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}