.Addfill-custom{
    fill: #FFF;
    filter: drop-shadow(2px 2px 7px rgba(0, 0, 0, 0.10));
}

.closefill-custom{
    width: 1.5rem;
    height: 1.5rem;
    cursor:pointer;
}

.Vt-custom{
    display: inline-flex;
    padding: 0.625rem;
    align-items: center;
    gap: 0.625rem;
    cursor:pointer;
  }

.react-datepicker__input-container{
    display: flex !important;
    width: 23rem !important;
    height: 2.5rem;
    padding: 0.75rem;
    align-items: center;
    gap: 0.6875rem;
    border-radius: 0.4375rem;
    border: 1px solid var(--yoda-admin-template-blacks-b-40, #DFE6E9);
    background: var(--yoda-admin-template-blacks-b-0, #FFF);
}

.react-datepicker-popper[data-placement^=bottom] {
    padding-top: 0 !important;
}

.react-datepicker{
    display: flex !important;
    width: 24.6875rem;
    align-items: center;
    background: #FFF;

        .react-datepicker__day--outside-month {
            color: #B2BEC3;
            font-family: Noto Sans;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
        }

        .react-datepicker__day--selected, .react-datepicker__day--in-range, .react-datepicker__day--in-selecting-range{
            background-color: #3E54AC;
        }
        .react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover{
            background-color: #3E54AC;
        }

        .react-datepicker__month-container{
            display: flex;
            width: 18.125rem;
            height: 19.0625rem;
            padding: 0.625rem 0rem;
            flex-direction: column;
            align-items: center;
            gap: 0.3125rem;
            flex-shrink: 0;
            border: 1px solid #B2BEC3;
        
                .react-datepicker__header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.3125rem;
                    background-color: #FCFCFD;
                    border-bottom: none;

                        .customHeaderContainer{
                            display: flex;
                            width: 14.75rem;
                            height: 2.0625rem;
                            justify-content: space-between;
                            align-items: center;
                        
                                .dpmonth{
                                    width: 11.75rem;
                                    height: 1rem;
                                    flex-shrink: 0;
                                    color: var(--color-dark-dark, #23262F);
                                    text-align: center;
                                    font-family: Noto Sans;
                                    font-size: 0.875rem;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 1rem;
                                }
                                .arrowMonthButton{
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    flex-shrink: 0;
                                    cursor:pointer;
                                }
                        }

                        .react-datepicker__day-names {
                            display: flex;
                            width: 14.77rem;
                            height: 2.25rem;
                            justify-content: space-between;
                            align-items: center;

                                .react-datepicker__day-name {
                                    display: flex;
                                    width: 1.5rem;
                                    height: 2.25rem;
                                    padding: 0.625rem;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 0.625rem;
                                    flex-shrink: 0;
                                    border-radius: 6.25rem;
                                    color: #3E54AC;
                                    font-family: Noto Sans;
                                    font-size: 0.875rem;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 1rem; /* 114.286% */
                                }
                        }
                }
                .react-datepicker__month {
                    display: flex;
                    width: 14.75rem;
                    height: 11.5rem;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0.1rem;
                    flex-shrink: 0;

                        .react-datepicker__week {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-shrink: 0;
                            align-self: stretch;
                            
                            .react-datepicker__day{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 0.625rem;
                                border-radius: 6.25rem;
                                font-family: Noto Sans;
                                font-size: 0.875rem;
                                font-style: normal;
                                font-weight: 400;
                            }
                        }
                }
        }

        .react-datepicker__time-container {
            display: flex;
            height: 19.0625rem;
            flex-direction: column;
            align-items: center;
            flex: 1 0 0;
            border: 1px solid #B2BEC3;

                .react-datepicker__header--time{
                    display: flex;
                    height: 2.6875rem;
                    justify-content: space-between;
                    align-items: center;
                    flex-shrink: 0;
                    align-self: stretch;
                    background-color: #FCFCFD;
                    border-bottom: none;

                        .react-datepicker-time__header {
                            height: 1rem;
                            flex: 1 0 0;
                            color: var(--color-dark-dark, #23262F);
                            text-align: center;
                            font-family: Noto Sans;
                            font-size: 0.875rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1rem;
                        }
                }

                .react-datepicker__time {
                    display: flex;
                    height: 15.83rem;
                    align-items: center;
                    flex-shrink: 0;
                    align-self: stretch;

                    .react-datepicker__time-box{
                        display: flex;
                        height: 16.3125rem;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex: 1 0 0;

                        .react-datepicker__time-list-item{
                            display: flex;
                            height: 2.375rem !important;
                            padding: 0.625rem !important;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 0.625rem;
                            border-radius: 6.25rem;
                            color: var(--color-dark-dark, #23262F);
                            font-family: Noto Sans;
                            font-size: 0.875rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1rem;
                        }

                        .react-datepicker__time-list-item--selected{
                            background-color: #3E54AC !important;
                        }
                    }

                    .react-datepicker__time-list::-webkit-scrollbar{
                        display: flex;
                        width: 1.0375rem;
                        height: 16.25rem;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        gap: 5.625rem 5.0625rem;
                        flex-wrap: wrap;
                        background: rgba(241, 241, 241, 0.40);
                    }
                    .react-datepicker__time-list::-webkit-scrollbar-thumb{
                        display: flex;
                        width: 3.0625rem;
                        height: 0.9375rem;
                        transform: rotate(90deg);
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 0.625rem;
                        flex-shrink: 0;
                        border-radius: 0.7375rem;
                        background: rgba(62, 84, 172, 0.50);
                    }
                }
        }
}

.react-datepicker__triangle {
    display: none;
}

.reSelectEndDate{
    color: red;
    font-family: Noto Sans;
    font-size: 0.775rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
}

.title-p-tag{
    color: red;
    font-family: Noto Sans;
    font-size: 0.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
}