.mainContainer{
  display: flex;
  height: 100%;
  padding: 2.0625rem 2.3125rem 0rem 2.25rem;
  flex-direction: column;
  background: #FFF;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2375rem;
  padding: 0.375rem 0;
  flex: 1 0 0;
  border-bottom: 0.0625rem solid #A6A6A6;
}
.button{
  display: flex;
  width: 6.25rem;
  height: 3.125rem;
  padding: 0.75rem 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.4375rem;
  border: none;
  background: #E3F6FF;
}
.list{
  display: flex;
  flex : 1;
  padding: 1.5rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}