.SideNavBar{
    display: flex;
    flex-direction: column;
}

.Logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

a {
    text-decoration: none;
}

.NavMain{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.NavMenu{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.NavItem{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0.3rem;    
}

.NavItem:hover > svg > g > path{
    fill: #8DCBE6;
}

.NavItem:hover p{
    color : #3E54AC;
}

