.page{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
}
.mainContainer{
  display: flex;
  width: 36.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 8.4375rem;
  flex-shrink: 0;
}