.page{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
}
.mainContainer{
  display: flex;
  width: 37.0625rem;
  flex-direction: column;
  align-items: center;
  gap: 12.3125rem;
  flex-shrink: 0;
}
