.loginPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
  }

.eyelineSvg{
    display: flex;
    position: relative;
    right: 1%;
    text-align: right;
    padding: 0.625rem;
    align-items: center;
    gap: 0.625rem;
}

.pwinputdiv{
display: flex;
align-items: center;
flex: 1 0 0;
align-self: stretch;
}

.emailOption{
  color: #111314;
font-family: Noto Sans;
font-size: 0.6875rem;
font-style: normal;
font-weight: 500;
line-height: 1rem;
}

.findNoneSel{
        display: flex;
        height: 2.5rem;
        padding: 0.75rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex: 1 0 0;
        border-bottom: 3px solid #3E54AC;
        text-decoration: none;
}