.Dday{
  display: flex;
  background-color: #E3F6FF;
  height: 100vh;
  width: 100vw;
}

.Side{
  display: flex;
  flex-direction: column;
  background: #FFF;
  flex-shrink: 1;
  justify-content: space-between;
}

.Main{
  display: flex;
  flex-direction: column;
  gap : 1rem;
  width: 85%;
  padding: 1rem;
}
